{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <h2 class="display-4">Bienvenue à tous sur le blog de l'ASET du Rhône! Latcho drom!</h2>
        </div>

    </div>
{% endblock %}