/************************************************************
*******************     Général     *************************
*************************************************************/
.bd-placeholder-img {font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
svg{height: 50px;}
.nav-item-icon{list-style: none}
.dropdown-menu{transform: translate3d(-125px, 80px, 0px) !important;}
td{vertical-align: middle !important;}
input[type=checkbox]{margin-left: 5px;margin-right: 5px;}

/************************************************************
*******************     Navigation     **********************
*************************************************************/
.iconNav {height: 80px;}
.shadow{box-shadow: 0 .85rem .5rem rgba(255,115,50,.075)!important;}
.languagesList{list-style: none; display: inline-flex;padding-inline-start: 10px; }
.languagesList li{ border-right: 1px solid black; padding-left: 10px}
.languagesList li a{margin-right: 10px}
.languagesList li:last-child{ border-right:none}

/************************************************************
*******************        Profil      **********************
*************************************************************/
.spanProfil{font-weight: 600; }
.pictureProfil {max-height: 300px;}

/************************************************************
*******************     Espace Admin     ********************
*************************************************************/
.tabAcion{width:250px;}
.logoLanguages{max-height: 50px;margin-left: 10px;margin-right: 10px;}


/************************************************************
*******************     Footer     **********************
*************************************************************/
.resauxSociaux{display: block; text-align: center}
.contact{text-align: center}
.bold{font-weight: bold}
.logoSociaux{height: 40px;}
.gridCenter{display: grid; text-align: center}
.footer{width: 100%;}
.border-top {box-shadow: -0 -0.85rem 0.5rem rgba(255,115,50,.075)!important; -moz-border-radius-topleft: 25px;-moz-border-radius-topright: 25px}


/************************************************************
*******************    Page admin      **********************
*************************************************************/
.AdminImgArticle{height: 100px;}
.middle{vertical-align: middle !important; }
.adminArticle{text-align: left;background-color: #FFFFFF;border: 1px solid #293133; border-radius: 20px;padding: 20px; width:94vw;}
table tr, table th{ border-bottom: 1px solid #293133;}
.articleLienAdmin{color: black; text-decoration: underline}



/************************************************************
*******************    Page article      **********************
*************************************************************/
.imagePrincipal{float: left; margin-right: 25px;}
.blockArticle{background-color: lightgray; display: flex; margin-bottom: 20px; margin-left: 5px;margin-right: 5px;  padding-right: 20px;}
.blockArticle:hover{text-decoration: none; position: relative; top: 5px; left: 5px;}
.ArticleNoPic{height: 200px;}
.ArticleLogo{height: 200px;}
.imageArticle{text-align: center; padding-top: 10px; width: 100%}
.dateCreated{text-align: right; display: inline; vertical-align: bottom;}
.articleLien{color:#000000;width: 90%;}
.articleLien:hover{color:#000000;text-decoration: none}
.descArticle{padding-left: 15px; padding-right: 15px;}
.AdminImgArticle{height: 100px;}
.pictureProfilArticle{height: 65px;margin: 10px;}
.articleDetails{ width: 100%; padding: 20px; background-color: #d3d3d359;}
.voteNo{ height: 50px; display: flex; color: #000000; transform: rotate(180deg)}
.voteYes{ height: 50px; display: flex; color: #000000}
.voteNo:hover{ color: red}
.voteYes:hover{ color: green}
.titreLike{ text-align: right;top: 25px; position: relative;}
.serviceLien{color: black;  border-bottom: 1px solid black;}
.topArticle{min-height: 100px;}


/************************************************************
*******************    Pagination      **********************
*************************************************************/
.pagination{text-align: center; display: block}


/****************************************************************************************************************************
***************************************************     Responsive     *********************************************************
*****************************************************************************************************************************/
@media (min-width: 768px) {
    .bd-placeholder-img-lg {font-size: 3.5rem;}
}
