/************************************************************
*******************     Général     *************************
*************************************************************/
.bd-placeholder-img {font-size: 1.125rem; text-anchor: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
svg{height: 50px;}
.nav-item-icon{list-style: none}
.dropdown-menu{ top: 5px !important;left: -75px !important;}
td{vertical-align: middle !important;}
input[type=checkbox]{margin-left: 55px;margin-right: 5px;}
body{ font-family: Helvetica, Arial, sans-serif;}
h1{font-weight: bold; font-size: 30px; margin-left:30px;}
h2{ font-size: 22px; margin-right:10px; font-weight: bold}
h3{ font-size: 18px;}
form[name="search"]{padding-right: 40px; display: inline-flex;}
.width{width: 100%}



/************************************************************
*******************     Navigation     **********************
*************************************************************/
.iconNoUser {height: 35px;}
.iconNav {height: 50px;}
.languagesList{list-style: none; display: inline-flex;padding-inline-start: 10px; }
.languagesList li{ border-right: 1px solid black; padding-left: 10px;height: 30px;}
.languagesList li a{margin-right: 10px}
.languagesList li:last-child{ border-right:none}
.logoEduc{width: 170px;}
.btnSearch{background-image: url('../img/search-solid.svg');background-repeat: no-repeat; background-position: center ;background-size: 29px;}
button[id="search_save"]{width: 35px; height: 37px; margin-left: 5px;}

/************************************************************
*******************        Profil      **********************
*************************************************************/
.spanProfil{font-weight: 600; }
.pictureProfil {max-height: 300px;}

/************************************************************
*******************     Espace Admin     ********************
*************************************************************/
.tabAcion{width:250px;}
.tabAcion1{width:360px;}
.logoLanguages{max-height: 50px;margin-left: 10px;margin-right: 10px;}


/************************************************************
*******************     Footer     **********************
*************************************************************/
.resauxSociaux{display: block; text-align: center}
.contact{text-align: center}
.bold{font-weight: bold}
.logoSociaux{height: 40px;}
.gridCenter{display: grid; text-align: center}
.footer{width: 100%;}
.border-top {box-shadow: -0 -0.85rem 0.5rem rgba(255,115,50,.075)!important; -moz-border-radius-topleft: 25px;-moz-border-radius-topright: 25px}
.imgPartenaire{  height: 80px;}

/************************************************************
*******************    Page admin      **********************
*************************************************************/
.AdminImgArticle{height: 100px;}
.middle{vertical-align: middle !important; }
.adminArticle{text-align: left;background-color: #FFFFFF;border: 1px solid #293133; border-radius: 20px;padding: 20px; width:94vw;}
table tr, table th{ border-bottom: 1px solid #293133;}
.articleLienAdmin{color: black; text-decoration: underline}
.red{background-color: lightcoral}
.green{background-color: lightgreen}
.imgTab{height: 50px;}

/************************************************************
*******************    Page article      **********************
*************************************************************/
.imagePrincipal{float: left; margin-right: 25px;max-width: 50%;}
.blockArticle{border-radius: 5px;background-color: rgba(255,115,50,.075);box-shadow: 5px 5px lightsalmon; display: flex; margin-bottom: 20px; margin-left: 5px;margin-right: 5px;  padding-right: 20px;}
.blockArticle:hover{text-decoration: none; position: relative; top: 5px; left: 5px;box-shadow: none}
.ArticleNoPic{height: 200px;}
.ArticleLogo{height: 200px;}
.imageArticle{text-align: center; padding-top: 10px; width: 100%}
.dateCreated{text-align: right; display: inline; vertical-align: bottom;}
.articleLien{color:#000000;width: 90%;}
.articleLien:hover{color:#000000;text-decoration: none;}
.descArticle{padding-left: 15px; padding-right: 15px;}
.AdminImgArticle{height: 100px;}
.pictureProfilArticle{height: 65px;margin: 10px;}
.articleDetails{ width: 100%; padding: 20px; background-color: rgba(255,115,50,.075);}
.serviceLien{color: black;  border-bottom: 1px solid black;}
.topArticle{min-height: 100px;}


/************************************************************
*******************    Pagination      **********************
*************************************************************/
.pagination{text-align: center; display: block}

/************************************************************
*******************    Commentaire     **********************
*************************************************************/
.pictureProfilComment{height: 60px;border-radius: 30px; top: 10px; position: relative; left: 10px;}
.resultatComment{width : 60%; background-color: #FFFFFF; border-radius: 20px; border: 1px solid #293133;margin-bottom: 15px; padding-left: 20px; padding-right: 20px;}
.textComment{padding-left: 75px; padding-right: 15px}
.pseudoComment{position: relative; top: 15px; left: 15px;}
.signaledcomment{text-align: left; display: block; color: red;left: 20px; position: relative;}
.signaledcomment:hover{color: tomato; text-decoration: none}
.datecomment{text-align: end;}

/************************************************************
*******************     Apercu     **********************
*************************************************************/
.apercuPartenaire{text-align: center; background-color: rgba(0,0,0,0.8); width:80vw; position: fixed;z-index: 999; top: 5vh;  left: 10vw;}
.btnFermer{width: 20px}
.fermer{margin-top: 10px}
.displayNone{display: none}
#texte{ color: white; text-align: initial;}
.apercuH3{color: #FFFFFF}




/****************************************************************************************************************************
***************************************************     Responsive     *********************************************************
*****************************************************************************************************************************/
@media (min-width: 768px) {
    .bd-placeholder-img-lg {font-size: 3.5rem;}
}
